@import "tailwindcss";
.light {
  --background-color: white;
  --text-color: black;
  --border-color: gray;
}

/* Dark Theme */
.dark {
  --background-color: black;
  --text-color: white;
  --border-color: gray;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.border {
  border-color: var(--border-color);
}
